/* typography */

// format('opentype')

@font-face {
    font-family: 'Abril';
    font-style: normal;
    src: url('../../fonts/AbrilFatface-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 100;
    src: url('../../fonts/Alegreya-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Buttershine';
    src: url('../../fonts/BUTTERSHINE\ SERIF.otf') format('opentype');
}

@font-face {
    font-family: 'Colour Me Purple';
    src: url('../../fonts/Colour\ Me\ Purple.ttf') format('truetype');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../../fonts/EBGaramond-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Grewmoon';
    src: url('../../fonts/Grewmoon.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100 700;
    src: url('../../fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Showguide';
    src: url('../../fonts/Showguide.TTF') format('truetype');
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../fonts/Work-sans.medium.ttf') format('truetype');
}

$font: serif;
$abbey-font: "EB Garamond", serif;
$lessees-font: "Alegreya", serif;
$date-font: "Roboto", serif;
$reunion-font: "Work Sans", serif;
$pioneers-font: "Showguide", serif;
$price-font: "Grewmoon", serif;
$location-font: "Buttershine", serif;
$eve-font: "Abril", serif;
$info-font: "Colour Me Purple", serif;
$company-font: $date-font, serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;
