/* home */

@use "../abstracts/variables" as var;
@use "../base/typography" as type;

.ticket {
    background-color: var.$bg-color;
    width: 800px;
    height: 330px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em;
}

.horiz {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.horiz__svg, .horiz__date, .horiz__eventpartone, .horiz__eventparttwo, .horiz__price {
    grid-column-start: 1;
    grid-column-end: 3;
}

.horiz__svg {
    padding: 0;
    border: 1px solid var.$text-color;
}

.horiz__linepartone, .horiz__lineparttwo, .horiz__date, .horiz__eventparttwo {
    border-bottom: 1px solid var.$text-color;
}

.horiz__date {
    font-family: type.$date-font;
}

.horiz__eventparttwo {
    font-family: type.$eventparttwo-font;
}

.vertic {
    display: grid;
    grid-template-columns: 1fr;
}

.vertic__location, .vertic__date, .vertic__info {
    border-left: 1px solid var.$text-color;
}

.vertic__name {
    border-right: 1px solid var.$text-color;
}

.vertic {
    writing-mode: vertical-rl;
}